/*
 * Fancy style sheet for map comparison tool.
 * Alex Mandel 2011
 */
/*@import oldefaults.css*/

.item {
	float:left;
	margin:4px;
	background: black;
    padding: 20px 20px 40px 20px;
    color: white;
}

.map {
	width:200px;
	height:300px;
}

#keeper {
	display:inline;
	list-style-type:none;
}

/*TODO: move the attribution to below the map frame*/
.olControlAttribution {
    padding-top: 250px;
    padding-left: 150px;
}


.olControlZoomInItemInactive {
    background:url(http://dev.openlayers.org/releases/OpenLayers-2.8/img/zoom-plus-mini.png) no-repeat;
    border:2px solid #232323;
    float:left;
    height:18px;
    margin-right:5px;
    width:18px;
}
.olControlZoomOutItemInactive {
    background:url(http://dev.openlayers.org/releases/OpenLayers-2.8/img/zoom-minus-mini.png) no-repeat;
    border:2px solid #232323;
    float:left;
    height:18px;
    margin-right:5px;
    width:18px;
}



/*Copied from OL */
.olControlPanPanel {
    left: 5px;
    top: 10px;
}
.olControlPanPanel div {
    background-image: url("img/pan-panel.png");
    cursor: pointer;
    height: 18px;
    position: absolute;
    width: 18px;
}
.olControlPanPanel .olControlPanNorthItemInactive {
    background-position: 0 0;
    left: 9px;
    top: 0;
}
.olControlPanPanel .olControlPanSouthItemInactive {
    background-position: 18px 0;
    left: 9px;
    top: 36px;
}
.olControlPanPanel .olControlPanWestItemInactive {
    background-position: 0 18px;
    left: 0;
    position: absolute;
    top: 18px;
}
.olControlPanPanel .olControlPanEastItemInactive {
    background-position: 18px 18px;
    left: 18px;
    top: 18px;
}
.olControlZoomPanel {
    left: 14px;
    top: 71px;
}
.olControlZoomPanel div {
    background-image: url("img/zoom-panel.png");
    cursor: pointer;
    height: 18px;
    position: absolute;
    width: 18px;
}
.olControlZoomPanel .olControlZoomInItemInactive {
    background-position: 0 0;
    left: 0;
    top: 0;
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    background-position: 0 -18px;
    left: 0;
    top: 18px;
}
.olControlZoomPanel .olControlZoomOutItemInactive {
    background-position: 0 18px;
    left: 0;
    top: 36px;
}

